# Streetcar Delay Prediction - Data Preparation

Use dataset covering Toronto Transit Commission (TTC) streetcar delays 2014 - present to predict future delays and come up with recommendations for avoiding delays.

Source dataset: : https://open.toronto.ca/dataset/ttc-streetcar-delay-data/

This notebook contains the common data loading and preparation steps:
- load data from all the tabs of all the XLS files into a single dataframe
- correct type issues
- fix missing values
- clean up anomalies in the location, direction and vehicle columns

# Streetcar routes

From https://www.ttc.ca/Routes/Streetcars.jsp

<table style="border: none" align="left">
   </tr>
   <tr style="border: none">
       <th style="border: none"><img src="https://raw.githubusercontent.com/ryanmark1867/streetcarnov3/master/streetcar%20routes.jpg" width="600" alt="Icon"> </th>
   </tr>
</table>

# Common imports and variables
Imports and variable definitions that are common to the entire notebook

In [342]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
# import seaborn as sns
import datetime
import os

In [343]:
# common variables
# control whether to load data from scratch from original source or from saved dataframe
load_from_scratch = False
# control whether to save dataframe with transformed data
save_transformed_dataframe = True
# control whether rows containing erroneous values are removed from the saved dataset
remove_bad_values = True
# name of file containing pickled dataframe version of input (unprocessed) dataset
pickled_input_dataframe = '2014_2019_upto_june.pkl'
# name of file to which prepared data set is saved as a pickled dataframe
pickled_output_dataframe = '2014_2019_df_cleaned_remove_bad_sept18.pkl'

# Streetcar vehicle IDs CLRV/ALRV

From https://en.wikipedia.org/wiki/Toronto_streetcar_system_rolling_stock#CLRVs_and_ALRVs

<table style="border: none" align="left">
   </tr>
   <tr style="border: none">
       <th style="border: none"><img src="https://raw.githubusercontent.com/ryanmark1867/streetcarnov3/master/streetcarCLRV.jpg" width="600" alt="Icon"> </th>
   </tr>
</table>

In [344]:
streetcar_vehicles = list(range(4000,4005))+ list(range(4010,4200)) +  list(range(4200,4252)) + [4900]
streetcar_vehicles = streetcar_vehicles + [4400] + list(range(4402,4508))
print("valid streetcars",streetcar_vehicles)

valid streetcars [4000, 4001, 4002, 4003, 4004, 4010, 4011, 4012, 4013, 4014, 4015, 4016, 4017, 4018, 4019, 4020, 4021, 4022, 4023, 4024, 4025, 4026, 4027, 4028, 4029, 4030, 4031, 4032, 4033, 4034, 4035, 4036, 4037, 4038, 4039, 4040, 4041, 4042, 4043, 4044, 4045, 4046, 4047, 4048, 4049, 4050, 4051, 4052, 4053, 4054, 4055, 4056, 4057, 4058, 4059, 4060, 4061, 4062, 4063, 4064, 4065, 4066, 4067, 4068, 4069, 4070, 4071, 4072, 4073, 4074, 4075, 4076, 4077, 4078, 4079, 4080, 4081, 4082, 4083, 4084, 4085, 4086, 4087, 4088, 4089, 4090, 4091, 4092, 4093, 4094, 4095, 4096, 4097, 4098, 4099, 4100, 4101, 4102, 4103, 4104, 4105, 4106, 4107, 4108, 4109, 4110, 4111, 4112, 4113, 4114, 4115, 4116, 4117, 4118, 4119, 4120, 4121, 4122, 4123, 4124, 4125, 4126, 4127, 4128, 4129, 4130, 4131, 4132, 4133, 4134, 4135, 4136, 4137, 4138, 4139, 4140, 4141, 4142, 4143, 4144, 4145, 4146, 4147, 4148, 4149, 4150, 4151, 4152, 4153, 4154, 4155, 4156, 4157, 4158, 4159, 4160, 4161, 4162, 4163, 4164, 4165, 4166, 4167, 4168, 4169, 4170, 4171, 4172, 4173, 4174, 4175, 4176, 4177, 4178, 4179, 4180, 4181, 4182, 4183, 4184, 4185, 4186, 4187, 4188, 4189, 4190, 4191, 4192, 4193, 4194, 4195, 4196, 4197, 4198, 4199, 4200, 4201, 4202, 4203, 4204, 4205, 4206, 4207, 4208, 4209, 4210, 4211, 4212, 4213, 4214, 4215, 4216, 4217, 4218, 4219, 4220, 4221, 4222, 4223, 4224, 4225, 4226, 4227, 4228, 4229, 4230, 4231, 4232, 4233, 4234, 4235, 4236, 4237, 4238, 4239, 4240, 4241, 4242, 4243, 4244, 4245, 4246, 4247, 4248, 4249, 4250, 4251, 4900, 4400, 4402, 4403, 4404, 4405, 4406, 4407, 4408, 4409, 4410, 4411, 4412, 4413, 4414, 4415, 4416, 4417, 4418, 4419, 4420, 4421, 4422, 4423, 4424, 4425, 4426, 4427, 4428, 4429, 4430, 4431, 4432, 4433, 4434, 4435, 4436, 4437, 4438, 4439, 4440, 4441, 4442, 4443, 4444, 4445, 4446, 4447, 4448, 4449, 4450, 4451, 4452, 4453, 4454, 4455, 4456, 4457, 4458, 4459, 4460, 4461, 4462, 4463, 4464, 4465, 4466, 4467, 4468, 4469, 4470, 4471, 4472, 4473, 4474, 4475, 4476, 4477, 4478, 4479, 4480, 4481, 4482, 4483, 4484, 4485, 4486, 4487, 4488, 4489, 4490, 4491, 4492, 4493, 4494, 4495, 4496, 4497, 4498, 4499, 4500, 4501, 4502, 4503, 4504, 4505, 4506, 4507]

# Streetcar vehicle IDs Flexity

From https://en.wikipedia.org/wiki/Toronto_streetcar_system_rolling_stock#CLRVs_and_ALRVs

<table style="border: none" align="left">
   </tr>
   <tr style="border: none">
       <th style="border: none"><img src="https://raw.githubusercontent.com/ryanmark1867/streetcarnov3/master/streetcarflexity.jpg" width="600" alt="Icon"> </th>
   </tr>
</table>

# Bus identification
The following links define the valid non-streetcar vehicles that can be delayed by streetcar incidents

- Buses 1xxx: https://cptdb.ca/wiki/index.php/Toronto_Transit_Commission_1000-1149
- Buses 2xxx: https://cptdb.ca/wiki/index.php/Toronto_Transit_Commission_2000-2110,_2150-2155,_2240-2485,_2600-2619,_2700-2765,_2767-2858
- Buses 70xx: https://cptdb.ca/wiki/index.php/Toronto_Transit_Commission_7000-7134
- Buses 74xx: https://cptdb.ca/wiki/index.php/Toronto_Transit_Commission_7400-7499,_7500-7619,_7620-7881
- Buses 8xxx: https://cptdb.ca/wiki/index.php/Toronto_Transit_Commission_8000-8099
- Buses 9xxx: https://cptdb.ca/wiki/index.php/Toronto_Transit_Commission_9000-9026

In [345]:
bus_vehicles = list(range(1000,1150))+ list(range(2000,2111)) + list(range(2150,2156)) + list(range(2240,2486))
bus_vehicles = bus_vehicles + list(range(2600,2620)) + list(range(2700,2766)) + list(range(2767,2859))
bus_vehicles = bus_vehicles + list(range(7000,7135)) + list(range(7400,7450)) + list(range(7500,7620)) + list(range(7620,7882))
bus_vehicles = bus_vehicles + list(range(8000,8100)) + list(range(9000,9027))
valid_vehicles = streetcar_vehicles + bus_vehicles
print("valid vehicles",valid_vehicles)

valid vehicles [4000, 4001, 4002, 4003, 4004, 4010, 4011, 4012, 4013, 4014, 4015, 4016, 4017, 4018, 4019, 4020, 4021, 4022, 4023, 4024, 4025, 4026, 4027, 4028, 4029, 4030, 4031, 4032, 4033, 4034, 4035, 4036, 4037, 4038, 4039, 4040, 4041, 4042, 4043, 4044, 4045, 4046, 4047, 4048, 4049, 4050, 4051, 4052, 4053, 4054, 4055, 4056, 4057, 4058, 4059, 4060, 4061, 4062, 4063, 4064, 4065, 4066, 4067, 4068, 4069, 4070, 4071, 4072, 4073, 4074, 4075, 4076, 4077, 4078, 4079, 4080, 4081, 4082, 4083, 4084, 4085, 4086, 4087, 4088, 4089, 4090, 4091, 4092, 4093, 4094, 4095, 4096, 4097, 4098, 4099, 4100, 4101, 4102, 4103, 4104, 4105, 4106, 4107, 4108, 4109, 4110, 4111, 4112, 4113, 4114, 4115, 4116, 4117, 4118, 4119, 4120, 4121, 4122, 4123, 4124, 4125, 4126, 4127, 4128, 4129, 4130, 4131, 4132, 4133, 4134, 4135, 4136, 4137, 4138, 4139, 4140, 4141, 4142, 4143, 4144, 4145, 4146, 4147, 4148, 4149, 4150, 4151, 4152, 4153, 4154, 4155, 4156, 4157, 4158, 4159, 4160, 4161, 4162, 4163, 4164, 4165, 4166, 4167, 4168, 4169, 4170, 4171, 4172, 4173, 4174, 4175, 4176, 4177, 4178, 4179, 4180, 4181, 4182, 4183, 4184, 4185, 4186, 4187, 4188, 4189, 4190, 4191, 4192, 4193, 4194, 4195, 4196, 4197, 4198, 4199, 4200, 4201, 4202, 4203, 4204, 4205, 4206, 4207, 4208, 4209, 4210, 4211, 4212, 4213, 4214, 4215, 4216, 4217, 4218, 4219, 4220, 4221, 4222, 4223, 4224, 4225, 4226, 4227, 4228, 4229, 4230, 4231, 4232, 4233, 4234, 4235, 4236, 4237, 4238, 4239, 4240, 4241, 4242, 4243, 4244, 4245, 4246, 4247, 4248, 4249, 4250, 4251, 4900, 4400, 4402, 4403, 4404, 4405, 4406, 4407, 4408, 4409, 4410, 4411, 4412, 4413, 4414, 4415, 4416, 4417, 4418, 4419, 4420, 4421, 4422, 4423, 4424, 4425, 4426, 4427, 4428, 4429, 4430, 4431, 4432, 4433, 4434, 4435, 4436, 4437, 4438, 4439, 4440, 4441, 4442, 4443, 4444, 4445, 4446, 4447, 4448, 4449, 4450, 4451, 4452, 4453, 4454, 4455, 4456, 4457, 4458, 4459, 4460, 4461, 4462, 4463, 4464, 4465, 4466, 4467, 4468, 4469, 4470, 4471, 4472, 4473, 4474, 4475, 4476, 4477, 4478, 4479, 4480, 4481, 4482, 4483, 4484, 4485, 4486, 4487, 4488, 4489, 4490, 4491, 4492, 4493, 4494, 4495, 4496, 4497, 4498, 4499, 4500, 4501, 4502, 4503, 4504, 4505, 4506, 4507, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048, 2049, 2050, 2051, 2052, 2053, 2054, 2055, 2056, 2057, 2058, 2059, 2060, 2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 2071, 2072, 2073, 2074, 2075, 2076, 2077, 2078, 2079, 2080, 2081, 2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092, 2093, 2094, 2095, 2096, 2097, 2098, 2099, 2100, 2101, 2102, 2103, 2104, 2105, 2106, 2107, 2108, 2109, 2110, 2150, 2151, 2152, 2153, 2154, 2155, 2240, 2241, 2242, 2243, 2244, 2245, 2246, 2247, 2248, 2249, 2250, 2251, 2252, 2253, 2254, 2255, 2256, 2257, 2258, 2259, 2260, 2261, 2262, 2263, 2264, 2265, 2266, 2267, 2268, 2269, 2270, 2271, 2272, 2273, 2274, 2275, 2276, 2277, 2278, 2279, 2280, 2281, 2282, 2283, 2284, 2285, 2286, 2287, 2288, 2289, 2290, 2291, 2292, 2293, 2294, 2295, 2296, 2297, 2298, 2299, 2300, 2301, 2302, 2303, 2304, 2305, 2306, 2307, 2308, 2309, 2310, 2311, 2312, 2313, 2314, 2315, 2316, 2317, 2318, 2319, 2320, 2321, 2322, 2323, 2324, 2325, 2326, 2327, 2328, 2329, 2330, 2331, 2332, 2333, 2334, 2335, 2336, 2337, 2338, 2339, 2340, 2341, 2342, 2343, 2344, 2345, 2346, 2347, 2348, 2349, 2350, 2351, 2352, 2353, 2354, 2355, 2356, 2357, 2358, 2359, 2360, 2361, 2362, 2363, 2364, 2365, 2366, 2367, 2368, 2369, 2370, 2371, 2372, 2373, 2374, 2375, 2376, 2377, 2378, 2379, 2380, 2381, 2382, 2383, 2384, 2385, 2386, 2387, 2388, 2389, 2390, 2391, 2392, 2393, 2394, 2395, 2396, 2397, 2398, 2399, 2400, 2401, 2402, 2403, 2404, 2405, 2406, 2407, 2408, 2409, 2410, 2411, 2412, 2413, 2414, 2415, 2416, 2417, 2418, 2419, 2420, 2421, 2422, 2423, 2424, 2425, 2426, 2427, 2428, 2429, 2430, 2431, 2432, 2433, 2434, 2435, 2436, 2437, 2438, 2439, 2440, 2441, 2442, 2443, 2444, 2445, 2446, 2447, 2448, 2449, 2450, 2451, 2452, 2453, 2454, 2455, 2456, 2457, 2458, 2459, 2460, 2461, 2462, 2463, 2464, 2465, 2466, 2467, 2468, 2469, 2470, 2471, 2472, 2473, 2474, 2475, 2476, 2477, 2478, 2479, 2480, 2481, 2482, 2483, 2484, 2485, 2600, 2601, 2602, 2603, 2604, 2605, 2606, 2607, 2608, 2609, 2610, 2611, 2612, 2613, 2614, 2615, 2616, 2617, 2618, 2619, 2700, 2701, 2702, 2703, 2704, 2705, 2706, 2707, 2708, 2709, 2710, 2711, 2712, 2713, 2714, 2715, 2716, 2717, 2718, 2719, 2720, 2721, 2722, 2723, 2724, 2725, 2726, 2727, 2728, 2729, 2730, 2731, 2732, 2733, 2734, 2735, 2736, 2737, 2738, 2739, 2740, 2741, 2742, 2743, 2744, 2745, 2746, 2747, 2748, 2749, 2750, 2751, 2752, 2753, 2754, 2755, 2756, 2757, 2758, 2759, 2760, 2761, 2762, 2763, 2764, 2765, 2767, 2768, 2769, 2770, 2771, 2772, 2773, 2774, 2775, 2776, 2777, 2778, 2779, 2780, 2781, 2782, 2783, 2784, 2785, 2786, 2787, 2788, 2789, 2790, 2791, 2792, 2793, 2794, 2795, 2796, 2797, 2798, 2799, 2800, 2801, 2802, 2803, 2804, 2805, 2806, 2807, 2808, 2809, 2810, 2811, 2812, 2813, 2814, 2815, 2816, 2817, 2818, 2819, 2820, 2821, 2822, 2823, 2824, 2825, 2826, 2827, 2828, 2829, 2830, 2831, 2832, 2833, 2834, 2835, 2836, 2837, 2838, 2839, 2840, 2841, 2842, 2843, 2844, 2845, 2846, 2847, 2848, 2849, 2850, 2851, 2852, 2853, 2854, 2855, 2856, 2857, 2858, 7000, 7001, 7002, 7003, 7004, 7005, 7006, 7007, 7008, 7009, 7010, 7011, 7012, 7013, 7014, 7015, 7016, 7017, 7018, 7019, 7020, 7021, 7022, 7023, 7024, 7025, 7026, 7027, 7028, 7029, 7030, 7031, 7032, 7033, 7034, 7035, 7036, 7037, 7038, 7039, 7040, 7041, 7042, 7043, 7044, 7045, 7046, 7047, 7048, 7049, 7050, 7051, 7052, 7053, 7054, 7055, 7056, 7057, 7058, 7059, 7060, 7061, 7062, 7063, 7064, 7065, 7066, 7067, 7068, 7069, 7070, 7071, 7072, 7073, 7074, 7075, 7076, 7077, 7078, 7079, 7080, 7081, 7082, 7083, 7084, 7085, 7086, 7087, 7088, 7089, 7090, 7091, 7092, 7093, 7094, 7095, 7096, 7097, 7098, 7099, 7100, 7101, 7102, 7103, 7104, 7105, 7106, 7107, 7108, 7109, 7110, 7111, 7112, 7113, 7114, 7115, 7116, 7117, 7118, 7119, 7120, 7121, 7122, 7123, 7124, 7125, 7126, 7127, 7128, 7129, 7130, 7131, 7132, 7133, 7134, 7400, 7401, 7402, 7403, 7404, 7405, 7406, 7407, 7408, 7409, 7410, 7411, 7412, 7413, 7414, 7415, 7416, 7417, 7418, 7419, 7420, 7421, 7422, 7423, 7424, 7425, 7426, 7427, 7428, 7429, 7430, 7431, 7432, 7433, 7434, 7435, 7436, 7437, 7438, 7439, 7440, 7441, 7442, 7443, 7444, 7445, 7446, 7447, 7448, 7449, 7500, 7501, 7502, 7503, 7504, 7505, 7506, 7507, 7508, 7509, 7510, 7511, 7512, 7513, 7514, 7515, 7516, 7517, 7518, 7519, 7520, 7521, 7522, 7523, 7524, 7525, 7526, 7527, 7528, 7529, 7530, 7531, 7532, 7533, 7534, 7535, 7536, 7537, 7538, 7539, 7540, 7541, 7542, 7543, 7544, 7545, 7546, 7547, 7548, 7549, 7550, 7551, 7552, 7553, 7554, 7555, 7556, 7557, 7558, 7559, 7560, 7561, 7562, 7563, 7564, 7565, 7566, 7567, 7568, 7569, 7570, 7571, 7572, 7573, 7574, 7575, 7576, 7577, 7578, 7579, 7580, 7581, 7582, 7583, 7584, 7585, 7586, 7587, 7588, 7589, 7590, 7591, 7592, 7593, 7594, 7595, 7596, 7597, 7598, 7599, 7600, 7601, 7602, 7603, 7604, 7605, 7606, 7607, 7608, 7609, 7610, 7611, 7612, 7613, 7614, 7615, 7616, 7617, 7618, 7619, 7620, 7621, 7622, 7623, 7624, 7625, 7626, 7627, 7628, 7629, 7630, 7631, 7632, 7633, 7634, 7635, 7636, 7637, 7638, 7639, 7640, 7641, 7642, 7643, 7644, 7645, 7646, 7647, 7648, 7649, 7650, 7651, 7652, 7653, 7654, 7655, 7656, 7657, 7658, 7659, 7660, 7661, 7662, 7663, 7664, 7665, 7666, 7667, 7668, 7669, 7670, 7671, 7672, 7673, 7674, 7675, 7676, 7677, 7678, 7679, 7680, 7681, 7682, 7683, 7684, 7685, 7686, 7687, 7688, 7689, 7690, 7691, 7692, 7693, 7694, 7695, 7696, 7697, 7698, 7699, 7700, 7701, 7702, 7703, 7704, 7705, 7706, 7707, 7708, 7709, 7710, 7711, 7712, 7713, 7714, 7715, 7716, 7717, 7718, 7719, 7720, 7721, 7722, 7723, 7724, 7725, 7726, 7727, 7728, 7729, 7730, 7731, 7732, 7733, 7734, 7735, 7736, 7737, 7738, 7739, 7740, 7741, 7742, 7743, 7744, 7745, 7746, 7747, 7748, 7749, 7750, 7751, 7752, 7753, 7754, 7755, 7756, 7757, 7758, 7759, 7760, 7761, 7762, 7763, 7764, 7765, 7766, 7767, 7768, 7769, 7770, 7771, 7772, 7773, 7774, 7775, 7776, 7777, 7778, 7779, 7780, 7781, 7782, 7783, 7784, 7785, 7786, 7787, 7788, 7789, 7790, 7791, 7792, 7793, 7794, 7795, 7796, 7797, 7798, 7799, 7800, 7801, 7802, 7803, 7804, 7805, 7806, 7807, 7808, 7809, 7810, 7811, 7812, 7813, 7814, 7815, 7816, 7817, 7818, 7819, 7820, 7821, 7822, 7823, 7824, 7825, 7826, 7827, 7828, 7829, 7830, 7831, 7832, 7833, 7834, 7835, 7836, 7837, 7838, 7839, 7840, 7841, 7842, 7843, 7844, 7845, 7846, 7847, 7848, 7849, 7850, 7851, 7852, 7853, 7854, 7855, 7856, 7857, 7858, 7859, 7860, 7861, 7862, 7863, 7864, 7865, 7866, 7867, 7868, 7869, 7870, 7871, 7872, 7873, 7874, 7875, 7876, 7877, 7878, 7879, 7880, 7881, 8000, 8001, 8002, 8003, 8004, 8005, 8006, 8007, 8008, 8009, 8010, 8011, 8012, 8013, 8014, 8015, 8016, 8017, 8018, 8019, 8020, 8021, 8022, 8023, 8024, 8025, 8026, 8027, 8028, 8029, 8030, 8031, 8032, 8033, 8034, 8035, 8036, 8037, 8038, 8039, 8040, 8041, 8042, 8043, 8044, 8045, 8046, 8047, 8048, 8049, 8050, 8051, 8052, 8053, 8054, 8055, 8056, 8057, 8058, 8059, 8060, 8061, 8062, 8063, 8064, 8065, 8066, 8067, 8068, 8069, 8070, 8071, 8072, 8073, 8074, 8075, 8076, 8077, 8078, 8079, 8080, 8081, 8082, 8083, 8084, 8085, 8086, 8087, 8088, 8089, 8090, 8091, 8092, 8093, 8094, 8095, 8096, 8097, 8098, 8099, 9000, 9001, 9002, 9003, 9004, 9005, 9006, 9007, 9008, 9009, 9010, 9011, 9012, 9013, 9014, 9015, 9016, 9017, 9018, 9019, 9020, 9021, 9022, 9023, 9024, 9025, 9026]

# Vehicles that are not legitimate subjects of streetcar incidents
The following vehicles are not legitimate subjects of streetcar incidents because they run on completely separate tracks (RT and subway) or they have been retired (6xxx buses).

- RT cars 3xxx: https://cptdb.ca/wiki/index.php/Toronto_Transit_Commission_3000-3027
- Subway cars 5xxx https://cptdb.ca/wiki/index.php/Toronto_Transit_Commission_5000-5371
- Retired Buses 6xxx: https://cptdb.ca/wiki/index.php/Toronto_Transit_Commission_6000-6122

In [346]:
# load the valid list of TTC Streetcar routes
valid_routes = ['501','502','503','504','505','506','509','510','511','512','301','304','306','310']

In [347]:
valid_routes

['501',
 '502',
 '503',
 '504',
 '505',
 '506',
 '509',
 '510',
 '511',
 '512',
 '301',
 '304',
 '306',
 '310']

In [348]:
# original valid directions
# valid_directions = ['E/B','W/B','N/B','S/B','B/W']
# revised valid directions to include lowercasing and removal of '/' and simplify to single letter
valid_directions = ['e','w','n','s','b']

In [349]:
valid_days = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']

# Load and Save Data
- parse list of XLS files 
- load XLS files, tab by tab, into dataframe
- pickle dataframe for future runs

In [350]:
# get the directory for that this notebook is in and return the directory containing data files

def get_path():
    rawpath = os.getcwd()
    # data is in a directory called "data" that is a sibling to the directory containing the notebook
    path = os.path.abspath(os.path.join(rawpath, '..', 'data')) + "/"
    return(path)

In [351]:
# given a path return the list of xls files in the directory
def get_xls_list(path):
    files = os.listdir(path)
    files_xls = [f for f in files if f[-4:] == 'xlsx']
    print(files)
    print(files_xls)
    return(files_xls)

In [352]:
# load all the tabs of all the XLS files in a list of XLS files, minus tab that has seeded dataframe
def load_xls(path, files_xls, firstfile, firstsheet, df):
    for f in files_xls:
        print("file name",f)
        xlsf = pd.ExcelFile(path+f)
        # iterate through sheets
        for sheet_name in xlsf.sheet_names:
            print("sheet_name",sheet_name)
            if (f != firstfile) or (sheet_name != firstsheet):
                print("sheet_name in loop",sheet_name)
                data = pd.read_excel(path+f,sheet_name=sheet_name)    
                df = df.append(data)
    return (df)

In [353]:
# given a path and a filename, load all the XLS files in the path into a dataframe and save
# to the dataframe to the filename
def reloader(path,picklename):
    # get list of all xls files in the path
    files_xls = get_xls_list(path)
    print("list of xls",files_xls)
    # seed initial tab on initial xls file
    dfnew = pd.read_excel(path+files_xls[0])
    # get the list of sheets in the first file
    xlsf = pd.ExcelFile(path+files_xls[0])
    # load the remaining tabs from all the other xls
    # pass the first file (files_xls[0]) and the first tab in that file (xlsf[0]) explicitly
    dflatest = load_xls(path,files_xls,files_xls[0],xlsf.sheet_names[0], dfnew)
    # save dataframe to pickle
    dflatest.to_pickle(path+ picklename)
    # return dataframe loaded with all tabs of all xls files
    return(dflatest)

In [354]:
# define categories for input columns
def define_feature_categories(df):
    allcols = list(df)
    print("all cols",allcols)
    textcols = ['Incident','Location'] # 
    continuouscols = ['Min Delay','Min Gap'] 
                      # columns to deal with as continuous values - no embeddings
    timecols = ['Report Date','Time']
    collist = ['Day','Vehicle','Route','Direction']
    for col in continuouscols:
        df[col] = df[col].astype(float)
    print('texcols: ',textcols)
    print('continuouscols: ',continuouscols)
    print('timecols: ',timecols)
    print('collist: ',collist)
    return(allcols,textcols,continuouscols,timecols,collist)

In [355]:
# fill missing values according to the column category
def fill_missing(dataset,allcols,textcols,continuouscols,timecols,collist):
    print("before mv")
    for col in collist:
        dataset[col].fillna(value="missing", inplace=True)
    for col in continuouscols:
        dataset[col].fillna(value=0.0,inplace=True)
    for col in textcols:
        dataset[col].fillna(value="missing", inplace=True)
    return (dataset)

# Load dataframe
- load pickled dataframe
- show info about the dataset

In [356]:
# read in data, either from original XLS files in data directory or from pickled dataframe containing
def ingest_data(path):
    if load_from_scratch:
        unpickled_df = reloader(path,pickled_input_dataframe)
        print("reloader done")
    else:
        unpickled_df = pd.read_pickle(path+pickled_input_dataframe)
    return(unpickled_df)

# General cleanup
- correct types for Route and Vehicle
- fill missing values
- create report-date-time index

In [357]:
# the dataset incorporated some anomalies in the 2019 data, including:
# extraneous Incident ID in April 2019 tab
# Gap and Delay columns in April and June 2019 tabs for what had otherwise been called Min Gap and Min Delay
# this function cleans up these anomalies
def fix_anomalous_columns(df):
    # for rows where there is NaN in the Min Delay or Min Gap columns, copy over value from Delay or Gap
    # df.Temp_Rating.fillna(df.Farheit, inplace=True)
    df['Min Delay'].fillna(df['Delay'], inplace=True)
    df['Min Gap'].fillna(df['Gap'], inplace=True)
    # now that the useful values have been copied from Delay and Gap, remove them
    del df['Delay']
    del df['Gap']
    # remove Incident ID column - it's extraneous
    del df['Incident ID']
    return(df)

In [358]:
def general_cleanup(df):
    # ensure Route and Vehicle are strings, not numeric
    df['Route'] = df['Route'].astype(str)
    df['Vehicle'] = df['Vehicle'].astype(str)
    # remove extraneous characters left from Vehicle values being floats
    df['Vehicle'] = df['Vehicle'].str[:-2]
    # tactical definition of categories
    allcols,textcols,continuouscols,timecols,collist = define_feature_categories(df)
    # fill in missing values
    df.isnull().sum(axis = 0)
    df = fix_anomalous_columns(df)
    df = fill_missing(df,allcols,textcols,continuouscols,timecols,collist)
    # create new column combing date + time (needed for resampling) and make it the index
    df['Report Date Time'] = pd.to_datetime(df['Report Date'].astype(str) + ' ' + df['Time'].astype(str))
    df.index = df['Report Date Time']
    # return the updated dataframe along with the column category lists
    return(df,allcols,textcols,continuouscols,timecols,collist)

# Master cell
This cell contains calls to the other functions in this notebook to complete the data preparation

In [359]:
# master cell to call the other functions
# get the path for data files
path = get_path()
print("path is",path)
# load route direction and delay data datframes
df = ingest_data(path)
print("number of records: ",len(df.index))
print("df.info() output",df.info())
print("df.shape output",df.shape)
print("df.describe() output",df.describe())
print("df.types output",df.dtypes)
df,allcols,textcols,continuouscols,timecols,collist = general_cleanup(df)
df.head()
# check that the values for April 2019 are correct
df[df['Report Date Time'].astype(str).str[:7]=='2019-04']

path is /storage/manning/data/
number of records:  73473
<class 'pandas.core.frame.DataFrame'>
Int64Index: 73473 entries, 0 to 760
Data columns (total 13 columns):
Day            73473 non-null object
Delay          1813 non-null float64
Direction      73196 non-null object
Gap            1806 non-null float64
Incident       73473 non-null object
Incident ID    889 non-null float64
Location       73232 non-null object
Min Delay      71595 non-null float64
Min Gap        71573 non-null float64
Report Date    73473 non-null datetime64[ns]
Route          73473 non-null int64
Time           73473 non-null object
Vehicle        68941 non-null float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(5)
memory usage: 7.8+ MB
df.info() output None
df.shape output (73473, 13)
df.describe() output              Delay          Gap  Incident ID     Min Delay       Min Gap  \
count  1813.000000  1806.000000   889.000000  71595.000000  71573.000000
mean     15.492002    21.211517     3.901012     12.738445     18.191637
std      39.385786    40.384120     2.861142     30.001200     33.729737
min       0.000000     0.000000     1.000000      0.000000      0.000000
25%       5.000000     9.000000     1.000000      5.000000      9.000000
50%       7.000000    12.000000     5.000000      6.000000     12.000000
75%      12.000000    19.000000     7.000000     11.000000     20.000000
max     540.000000   546.000000    10.000000   1400.000000   4216.000000

              Route        Vehicle
count  73473.000000   68941.000000
mean     501.065521    4399.409988
std       44.441978    1556.333667
min        1.000000       0.000000
25%      501.000000    4075.000000
50%      505.000000    4164.000000
75%      509.000000    4400.000000
max      999.000000  163242.000000
df.types output Day                    object
Delay                 float64
Direction              object
Gap                   float64
Incident               object
Incident ID           float64
Location               object
Min Delay             float64
Min Gap               float64
Report Date    datetime64[ns]
Route                   int64
Time                   object
Vehicle               float64
dtype: object
all cols ['Day', 'Delay', 'Direction', 'Gap', 'Incident', 'Incident ID', 'Location', 'Min Delay', 'Min Gap', 'Report Date', 'Route', 'Time', 'Vehicle']
texcols:  ['Incident', 'Location']
continuouscols:  ['Min Delay', 'Min Gap']
timecols:  ['Report Date', 'Time']
collist:  ['Day', 'Vehicle', 'Route', 'Direction']
before mv

,Day,Direction,Incident,Location,Min Delay,Min Gap,Report Date,Route,Time,Vehicle,Report Date Time
Report Date Time,,,,,,,,,,,
2019-04-01 04:26:00,Monday,E/B,Mechanical,Roncesvalles Yard.,10.0,20.0,2019-04-01,512,04:26:00,4460,2019-04-01 04:26:00
2019-04-01 04:27:00,Monday,E/B,Mechanical,Queen St. E and Woodfield Ave.,17.0,17.0,2019-04-01,501,04:27:00,4189,2019-04-01 04:27:00
2019-04-01 04:37:00,Monday,W/B,Mechanical,Queen St. E at Greenwood Ave.,5.0,10.0,2019-04-01,501,04:37:00,4012,2019-04-01 04:37:00
2019-04-01 04:46:00,Monday,E/B,Mechanical,Queen St E at Woodfield Ave,6.0,4.0,2019-04-01,501,04:46:00,4039,2019-04-01 04:46:00
2019-04-01 05:00:00,Monday,N/B,Mechanical,King and Spadina,11.0,0.0,2019-04-01,510,05:00:00,4465,2019-04-01 05:00:00
2019-04-01 05:25:00,Monday,W/B,Held By,Queen St. E at Greenwood Ave.,1.0,2.0,2019-04-01,501,05:25:00,4121,2019-04-01 05:25:00
2019-04-01 05:31:00,Monday,W/B,Mechanical,Queen St. E at Greenwood Ave.,4.0,9.0,2019-04-01,501,05:31:00,4117,2019-04-01 05:31:00
2019-04-01 05:41:00,Monday,E/B,Mechanical,Coxwell Ave. and Lower Gerrard St.,6.0,16.0,2019-04-01,506,05:41:00,4141,2019-04-01 05:41:00
2019-04-01 05:41:00,Monday,W/B,Mechanical,Queen St. E at Greenwood Ave.,5.0,10.0,2019-04-01,501,05:41:00,4114,2019-04-01 05:41:00
2019-04-01 05:44:00,Monday,W/B,Late Leaving Garage,Leslie Barns,2.0,6.0,2019-04-01,504,05:44:00,4459,2019-04-01 05:44:00
2019-04-01 05:47:00,Monday,E/B,Late Leaving Garage,Leslie Barns,2.0,6.0,2019-04-01,501,05:47:00,4529,2019-04-01 05:47:00
2019-04-01 05:47:00,Monday,W/B,Late Leaving Garage,Leslie Barns,3.0,6.0,2019-04-01,504,05:47:00,4429,2019-04-01 05:47:00
2019-04-01 05:47:00,Monday,W/B,Late Leaving Garage,Leslie Barns,3.0,6.0,2019-04-01,504,05:47:00,4467,2019-04-01 05:47:00
2019-04-01 05:51:00,Monday,W/B,Mechanical,Dundas wStn,0.0,0.0,2019-04-01,504,05:51:00,4416,2019-04-01 05:51:00
2019-04-01 06:58:00,Monday,W/B,Mechanical,Dundas and Lansdowne,4.0,8.0,2019-04-01,505,06:58:00,3105,2019-04-01 06:58:00
2019-04-01 07:05:00,Monday,E/B,Mechanical,Long Branch Loop,10.0,20.0,2019-04-01,501,07:05:00,4145,2019-04-01 07:05:00
2019-04-01 07:12:00,Monday,W/B,Mechanical,King and Spadina,4.0,8.0,2019-04-01,510,07:12:00,4494,2019-04-01 07:12:00
2019-04-01 07:25:00,Monday,E/B,Mechanical,St Clair and Avenue.,5.0,11.0,2019-04-01,512,07:25:00,4472,2019-04-01 07:25:00
2019-04-01 07:30:00,Monday,E/B,Mechanical,King and Spadina,6.0,12.0,2019-04-01,504,07:30:00,4489,2019-04-01 07:30:00
2019-04-01 07:39:00,Monday,E/B,Diversion,St Clai W Station,25.0,30.0,2019-04-01,512,07:39:00,4439,2019-04-01 07:39:00
2019-04-01 07:41:00,Monday,E/B,Utilized Off Route,Long Branch loop,3.0,8.0,2019-04-01,501,07:41:00,4050,2019-04-01 07:41:00
2019-04-01 07:58:00,Monday,W/B,Investigation,Oakwood,5.0,10.0,2019-04-01,512,07:58:00,4435,2019-04-01 07:58:00
2019-04-01 08:49:00,Monday,E/B,Investigation,Queen / Carrol,121.0,127.0,2019-04-01,504,08:49:00,4520,2019-04-01 08:49:00
2019-04-01 08:52:00,Monday,B/W,General Delay,Queen/Carroll,117.0,122.0,2019-04-01,501,08:52:00,4516,2019-04-01 08:52:00
2019-04-01 08:59:00,Monday,B/W,General Delay,Dundas West Station to Broadview Station,20.0,24.0,2019-04-01,505,08:59:00,1376,2019-04-01 08:59:00
2019-04-01 10:35:00,Monday,N/B,Investigation,bathurst/ dundas,4.0,8.0,2019-04-01,511,10:35:00,1089,2019-04-01 10:35:00
2019-04-01 10:45:00,Monday,W/B,Mechanical,Roncesvalles and Howard Park,0.0,0.0,2019-04-01,504,10:45:00,4505,2019-04-01 10:45:00
2019-04-01 12:45:00,Monday,missing,Mechanical,High Park Loop,5.0,10.0,2019-04-01,506,12:45:00,4048,2019-04-01 12:45:00
2019-04-01 13:54:00,Monday,W/B,Mechanical,King and University,7.0,14.0,2019-04-01,504,13:54:00,4505,2019-04-01 13:54:00
2019-04-01 15:46:00,Monday,W/B,Investigation,Queen Street Esat Broadview,5.0,10.0,2019-04-01,501,15:46:00,4119,2019-04-01 15:46:00
...,...,...,...,...,...,...,...,...,...,...,...
2019-04-29 16:51:00,Monday,E/B,Held By,King/parliament,9.0,15.0,2019-04-29,504,16:51:00,4441,2019-04-29 16:51:00
2019-04-29 17:29:00,Monday,E/B,Mechanical,Gunns Loop,7.0,14.0,2019-04-29,512,17:29:00,4408,2019-04-29 17:29:00
2019-04-29 17:43:00,Monday,B/W,General Delay,Dundas W. Stn to Broadview Stn,9.0,15.0,2019-04-29,504,17:43:00,n,2019-04-29 17:43:00
2019-04-29 19:37:00,Monday,E/B,Mechanical,humber loop,5.0,10.0,2019-04-29,501,19:37:00,4186,2019-04-29 19:37:00
2019-04-29 19:37:00,Monday,E/B,Mechanical,humber loop,5.0,15.0,2019-04-29,501,19:37:00,4186,2019-04-29 19:37:00
2019-04-29 22:19:00,Monday,S/B,Emergency Services,Disterilly loop,22.0,30.0,2019-04-29,504,22:19:00,4445,2019-04-29 22:19:00
2019-04-29 22:34:00,Monday,E/B,Overhead - Pantograph,Lansdowne,68.0,75.0,2019-04-29,512,22:34:00,4424,2019-04-29 22:34:00
2019-04-29 23:31:00,Monday,E/B,Mechanical,Dundas West Stn,7.0,14.0,2019-04-29,505,23:31:00,8322,2019-04-29 23:31:00
2019-04-30 00:13:00,Tuesday,E/B,Utilized Off Route,Exhibition,10.0,20.0,2019-04-30,509,00:13:00,4495,2019-04-30 00:13:00
2019-04-30 04:35:00,Tuesday,W/B,Late Leaving Garage,Leslie Barns,5.0,1.0,2019-04-30,510,04:35:00,4467,2019-04-30 04:35:00
2019-04-30 04:42:00,Tuesday,W/B,Late Leaving Garage,Coxwell Ave and Lower Gerrard,3.0,16.0,2019-04-30,506,04:42:00,4164,2019-04-30 04:42:00
2019-04-30 04:59:00,Tuesday,E/B,Mechanical,Bathurst Station,5.0,10.0,2019-04-30,512,04:59:00,4521,2019-04-30 04:59:00
2019-04-30 05:31:00,Tuesday,W/B,Mechanical,Queen St. E at Greenwood Ave.,5.0,10.0,2019-04-30,501,05:31:00,4193,2019-04-30 05:31:00
2019-04-30 08:14:00,Tuesday,W/B,Mechanical,Union Station,1.0,1.0,2019-04-30,509,08:14:00,4504,2019-04-30 08:14:00
2019-04-30 09:23:00,Tuesday,W/B,Mechanical,Caledonia And St Clair,1.0,1.0,2019-04-30,512,09:23:00,4462,2019-04-30 09:23:00
2019-04-30 09:30:00,Tuesday,W/B,Investigation,Sherbourne,5.0,10.0,2019-04-30,505,09:30:00,8206,2019-04-30 09:30:00
2019-04-30 11:55:00,Tuesday,W/B,Mechanical,Rees st and Queen's Quey,7.0,14.0,2019-04-30,509,11:55:00,4457,2019-04-30 11:55:00
2019-04-30 12:06:00,Tuesday,E/B,General Delay,University and Dundas,10.0,14.0,2019-04-30,505,12:06:00,8117,2019-04-30 12:06:00
2019-04-30 12:07:00,Tuesday,E/B,Mechanical,Humber loop,9.0,18.0,2019-04-30,501,12:07:00,4439,2019-04-30 12:07:00
2019-04-30 12:58:00,Tuesday,E/B,Mechanical,Queen and Shaw,5.0,9.0,2019-04-30,501,12:58:00,4135,2019-04-30 12:58:00
2019-04-30 13:18:00,Tuesday,E/B,Mechanical,Queen and Connaught,5.0,9.0,2019-04-30,501,13:18:00,4145,2019-04-30 13:18:00
2019-04-30 15:12:00,Tuesday,W/B,Mechanical,Birchmount Div,9.0,18.0,2019-04-30,503,15:12:00,7954,2019-04-30 15:12:00
2019-04-30 15:15:00,Tuesday,S/B,Investigation,Broadview and Gerrard,4.0,8.0,2019-04-30,505,15:15:00,8932,2019-04-30 15:15:00
2019-04-30 15:15:00,Tuesday,B/W,General Delay,King and Spadina,8.0,7.0,2019-04-30,504,15:15:00,4449,2019-04-30 15:15:00
2019-04-30 16:16:00,Tuesday,missing,Mechanical,Neville Loop,5.0,9.0,2019-04-30,501,16:16:00,4145,2019-04-30 16:16:00
2019-04-30 16:39:00,Tuesday,W/B,Utilized Off Route,King and Church,12.0,24.0,2019-04-30,503,16:39:00,7951,2019-04-30 16:39:00
2019-04-30 17:36:00,Tuesday,W/B,Investigation,Queen and Sherbourne,5.0,9.0,2019-04-30,705,17:36:00,4001,2019-04-30 17:36:00
2019-04-30 18:11:00,Tuesday,W/B,Investigation,McCaul and Dundas,4.0,8.0,2019-04-30,505,18:11:00,7945,2019-04-30 18:11:00
2019-04-30 21:46:00,Tuesday,N/B,Emergency Services,Spadna Stn,9.0,18.0,2019-04-30,510,21:46:00,4467,2019-04-30 21:46:00
2019-04-30 23:15:00,Tuesday,E/B,Investigation,Dundas and Howard Park,21.0,29.0,2019-04-30,506,23:15:00,4123,2019-04-30 23:15:00

# Clean up selected columns
Some values in the input dataset were entered "free form" when they should have been constricted to a pick list. Columns with this problem include:

- Route
- Vehicle
- Direction
- Location


Each of these have a finite set of valid values. We have to fix the data in these columns where multiple tokens have been used to signify the same real-world entity (e.g. "roncesvalles yard." and "roncesvalles carhouse", or where incorrect values have been entered (e.g. Direction that does not correspond with a compass point)

# Clean up Route

In [281]:
def check_route (x):
    if x in valid_routes:
        return(x)
    else:
        return("bad route")

In [282]:
print("route count",df['Route'].nunique())
df['Route'].value_counts()

route count 109

501    18117
504    13919
506     9870
505     7869
512     5552
510     4701
511     3701
509     2523
502     1520
514     1500
503      954
301      820
306      344
705      214
304      193
805      156
508      137
50        45
310       43
535       41
317       37
51        21
807       20
5         20
1         16
500       12
4          9
3          8
11         8
201        7
       ...
63         1
85         1
804        1
519        1
13         1
111        1
32         1
403        1
596        1
595        1
204        1
64         1
830        1
93         1
52         1
205        1
60         1
86         1
53         1
21         1
61         1
513        1
210        1
45         1
594        1
31         1
19         1
80         1
68         1
701        1
Name: Route, Length: 109, dtype: int64

In [283]:
print("route count pre cleanup",df['Route'].nunique())

route count pre cleanup 109

In [284]:
# apply(lambda x:findEmpty(x) df['Route'].apply(lambda x:check_route(x))
df['Route'] = df['Route'].apply(lambda x:check_route(x))

In [285]:
print("route count post cleanup",df['Route'].nunique())
df['Route'].value_counts()

route count post cleanup 15

501          18117
504          13919
506           9870
505           7869
512           5552
510           4701
511           3701
509           2523
bad route     2418
502           1520
503            954
301            820
306            344
304            193
310             43
Name: Route, dtype: int64

# Clean up Vehicle

In [286]:
df[df.Vehicle == 'n'].shape[0]

4511

In [287]:
df['Vehicle'].shape[0]

72544

In [288]:
def check_vehicle (x):
    if str.isdigit(x):
        if int(x) in valid_vehicles:
            return x
        else:
            return("bad vehicle")
    else:
        return("bad vehicle")

In [289]:
df['Vehicle'].value_counts()

n       4511
4074     291
4101     272
4001     266
4115     265
4199     264
4176     262
4050     261
4185     260
4147     259
4247     257
4141     256
4145     256
4189     255
4144     254
4110     254
4209     254
4079     252
4048     252
4012     251
4111     250
4218     247
4149     246
4114     246
4184     246
4077     246
4222     244
4066     244
4181     244
4403     243
        ...
6875       1
9332       1
8601       1
7576       1
3275       1
6955       1
8691       1
8678       1
7972       1
8443       1
7344       1
1262       1
5052       1
8556       1
8256       1
8894       1
7407       1
4721       1
1238       1
8883       1
7677       1
830        1
422        1
8885       1
7432       1
7416       1
8549       1
2310       1
8492       1
416        1
Name: Vehicle, Length: 2504, dtype: int64

In [290]:
print("vehicle count pre cleanup",df['Vehicle'].nunique())
df['Vehicle'] = df['Vehicle'].apply(lambda x:check_vehicle(x))
print("vehicle count post cleanup",df['Vehicle'].nunique())
df['Vehicle'].value_counts()

vehicle count pre cleanup 2504
vehicle count post cleanup 1017

bad vehicle    12089
4074             291
4101             272
4001             266
4115             265
4199             264
4176             262
4050             261
4185             260
4147             259
4247             257
4145             256
4141             256
4189             255
4144             254
4110             254
4209             254
4048             252
4079             252
4012             251
4111             250
4218             247
4077             246
4184             246
4149             246
4114             246
4066             244
4222             244
4181             244
4195             243
               ...
7439               1
7691               1
7077               1
8002               1
8010               1
7814               1
7594               1
7423               1
7404               1
2385               1
7592               1
7521               1
7589               1
7415               1
7639               1
7638               1
7572               1
7623               1
7440               1
7445               1
7554               1
7533               1
7655               1
7576               1
7555               1
7615               1
1110               1
7129               1
8063               1
7420               1
Name: Vehicle, Length: 1017, dtype: int64

# Clean up Direction

In [291]:
def check_direction (x):
    if x in valid_directions:
        return(x)
    else:
        return("bad direction")

In [292]:
df['Direction'].shape[0]

72544

In [293]:
# prior to cleanup of the Direction column, get a look at the values
df['Direction'].value_counts()

W/B                  28657
E/B                  27978
N/B                   5158
S/B                   4936
B/W                   4818
missing                264
eb                     166
EB                     137
WB                     107
wb                     101
nb                      17
SB                      17
NB                      15
sb                      13
EW                      12
bw                      10
eastbound                8
w/b                      7
w                        6
5                        6
BW                       4
E                        4
2                        3
10                       3
s                        3
Service adjusted.        3
b/w                      3
W                        3
ew                       3
8                        3
                     ...
18                       1
1114                     1
19                       1
ss                       1
1573                     1
33                       1
S-E                      1
7                        1
\5                       1
e/B                      1
See also                 1
12                       1
4075                     1
bs                       1
W\B                      1
s/b                      1
run                      1
15                       1
0                        1
w.b                      1
EB/WB                    1
20                       1
N                        1
68029                    1
512                      1
southbound               1
E5                       1
b#                       1
gap                      1
(Ref                     1
Name: Direction, Length: 98, dtype: int64

In [294]:
# to have consistent checking of directions: lowercase and remove '/'
print("Unique directions before cleanup:",df['Direction'].nunique())
df['Direction'] = df['Direction'].str.lower()
df['Direction'] = df['Direction'].str.replace('/','')
df['Direction'] = df['Direction'].replace({'eb':'e','wb':'w','sb':'s','nb':'n','bw':'b'})
df['Direction'] = df['Direction'].replace({'eastbound':'e','westbound':'w','southbound':'s','northbound':'n'})
# replace any remaining bad Direction values with a common token
df['Direction'] = df['Direction'].apply(lambda x:check_direction(x))
print("Unique directions after cleanup:",df['Direction'].nunique())

Unique directions before cleanup: 98
Unique directions after cleanup: 6

In [295]:
print("Unique directions after cleanup:",df['Direction'].nunique())

Unique directions after cleanup: 6

In [296]:
print("direction count",df['Direction'].nunique())
df['Direction'].value_counts()

direction count 6

w                28885
e                28298
n                 5193
s                 4971
b                 4837
bad direction      360
Name: Direction, dtype: int64

In [297]:
df.head()

,Day,Delay,Direction,Gap,Incident,Incident ID,Location,Min Delay,Min Gap,Report Date,Route,Time,Vehicle,Report Date Time
Report Date Time,,,,,,,,,,,,,,
2016-01-01 00:00:00,Friday,NaN,w,NaN,General Delay,NaN,Dundas West stnt to Broadview stn,7.0,14.0,2016-01-01,505,00:00:00,4028,2016-01-01 00:00:00
2016-01-01 02:14:00,Friday,NaN,e,NaN,Mechanical,NaN,Fleet St. and Strachan Ave.,10.0,20.0,2016-01-01,511,02:14:00,4018,2016-01-01 02:14:00
2016-01-01 02:22:00,Friday,NaN,w,NaN,Mechanical,NaN,Queen St. West and Roncesvalles Ave.,9.0,18.0,2016-01-01,301,02:22:00,4201,2016-01-01 02:22:00
2016-01-01 03:28:00,Friday,NaN,e,NaN,Mechanical,NaN,Lake Shore Blvd. and Superior St.,20.0,40.0,2016-01-01,301,03:28:00,4251,2016-01-01 03:28:00
2016-01-01 14:28:00,Friday,NaN,e,NaN,Mechanical,NaN,Roncy to Neville Park,6.0,12.0,2016-01-01,501,14:28:00,4242,2016-01-01 14:28:00

# Clean up Location

In [298]:
def clean_conjunction(intersection):
    # make conjunctions in intersections consistent
    if " and " not in intersection:
        if "&" in intersection:
            if " & " in intersection:
                intersection.replace(" & "," and ")
            else:
                if "&" in intersection:
                    intersection.replace("&"," and ")
        else:
            if " / " in intersection:
                intersection.replace(" / "," and ")
            else:
                if "/" in intersection:
                    intersection.replace("/"," and ")
    return(intersection)

In [299]:
def order_location(intersection):
    # for any string with the format "* and *" if the value before the and is alphabetically
    # higher than the value after the and, swap the values
    conj = " and "
    alpha_ordered_intersection = intersection
    if conj in intersection:
        end_first_street = intersection.find(conj)
        if (end_first_street > 0) and (len(intersection) > (end_first_street + len(conj))):
            start_second_street = intersection.find(conj) + len(conj)
            first_street = intersection[0:end_first_street]
            second_street = intersection[start_second_street:]
            alpha_ordered_intersection = min(first_street,second_street)+conj+max(first_street,second_street)
    return(alpha_ordered_intersection)

In [300]:
df['Location'].value_counts().head(100)

Russell Yard                 1078
Queen and Connaught           992
Leslie Barns                  838
Roncesvalles Yard             777
Queen and Roncesvalles        752
Roncesvalles and Queen        740
Roncy Yard                    630
Queen at Connaught            539
Broadview Station             526
Broadview and Queen           523
Dundas West Station           495
Humber Loop                   483
CNE Loop                      426
Spadina and King              415
Broadview Stn                 408
Queen and Broadview           393
King and Spadina              390
Roncesvalles Yard.            373
Coxwell and Gerrard           363
Neville Loop                  341
Queen at Roncesvalles         319
Main Station                  318
Bingham Loop                  306
Broadview and Dundas          301
Bathurst Station              285
Russell yard                  279
Ronc. Carhouse.               268
Roncy yard                    258
Spadina Station               252
Exhibition Loop               244
                             ...
Dundas West STN               116
King and Parliament           115
Dundas and Bathurst           115
King and Church               115
CNE LOOP                      115
Dundas and Broadview          113
Wilson Garage                 113
Queen and Shaw                112
Roncesvalles yard             111
Queensway at Roncesvalles     111
College and Spadina           110
Dundas and Parliament         109
King and Sumach               104
Queen and Dufferin            103
Spadina and Dundas            101
Dundas and Spadina            100
Main Stn                       99
Russell Carhouse               98
Queen & Connaught              97
St Clair West Station          97
Queen at Broadview             96
Bathurst and Dundas            96
Broadview and Danforth         96
Queen and Coxwell              96
Lansdowne                      95
Dundas west station            95
Spadina and Queens Quay        95
King/Spadina                   93
Birchmount Garage              91
Sunnyside Loop                 89
Name: Location, Length: 100, dtype: int64

In [301]:
# the values in the location column were entered in free form, so there are several problems to fix

# start by counting the distinct values in location column before and after lowercasing
print("Location count pre cleanup:",df['Location'].nunique())
print("Route count pre cleanup:",df['Route'].nunique())
print("Direction count pre cleanup:",df['Direction'].nunique())
print("Vehicle count pre cleanup:",df['Vehicle'].nunique())
df['Location'] = df['Location'].str.lower()
print("Unique Location values after lcasing:",df['Location'].nunique())
df['Location'].value_counts().head(100)

Location count pre cleanup: 16218
Route count pre cleanup: 15
Direction count pre cleanup: 6
Vehicle count pre cleanup: 1017
Unique Location values after lcasing: 13685

russell yard                 1444
queen and connaught          1063
roncy yard                    937
roncesvalles yard             906
leslie barns                  894
roncesvalles and queen        777
queen and roncesvalles        771
broadview station             762
dundas west station           749
cne loop                      710
humber loop                   671
broadview stn                 574
broadview and queen           551
queen at connaught            549
spadina and king              444
main station                  431
king and spadina              429
roncesvalles yard.            427
coxwell and gerrard           421
queen and broadview           409
bathurst station              409
neville loop                  406
dundas west stn               380
bingham loop                  379
spadina station               373
queen at roncesvalles         326
broadview and dundas          317
exhibition loop               289
high park loop                271
ronc. carhouse.               271
                             ...
russell carhouse              126
king and church               125
roncy                         125
roncesvalles carhouse         125
birchmount garage             122
dundas and bathurst           122
dundas and broadview          121
queen and shaw                118
dundas and parliament         118
college and spadina           118
king and sumach               116
queensway at roncesvalles     114
sunnyside loop                114
union station                 111
queen and dufferin            107
spadina/king                  106
spadina and dundas            105
broadview and danforth        104
bathurst and dundas           103
springhurst loop              103
st clair station              102
queen and coxwell             102
king and shaw                 102
scw stn                       101
distillery loop               101
dundas and spadina            100
lansdowne                      99
spadina and queens quay        98
queen at broadview             98
queen & connaught              98
Name: Location, Length: 100, dtype: int64

In [302]:
# count subset of locations that are explicitly junctions
# df[df['regiment'].str.contains(r"\bgoons\b", case = False)]
df[df['Location'].str.contains(" and ")].shape

(27822, 14)

In [303]:
df['Location'].shape

(72544,)

In [304]:
# make substitutions to eliminate obvious duplicate tokens, counting unique values before and after
# need to add a function to flip "x and y" consistently
print("Unique Location values before substitutions:",df['Location'].nunique())
df['Location'] = df['Location'].replace({'broadviewstation':'broadview station',' at ':' and ',' stn':' station',' ave.':'','/':' and ','roncy':'roncesvalles','carhouse':'yard','yard.':'yard','st. clair':'st clair','ronc. ':'roncesvalles ','long branch':'longbranch','garage':'yard','barns':'yard',' & ':' and '}, regex=True)
print("Unique Location values after substitutions:",df['Location'].nunique())
df['Location'].value_counts().head(50)

Unique Location values before substitutions: 13685
Unique Location values after substitutions: 11225

roncesvalles yard               3233
queen and connaught             1872
russell yard                    1651
roncesvalles and queen          1439
broadview station               1336
queen and roncesvalles          1267
dundas west station             1129
leslie yard                      964
broadview and queen              717
cne loop                         710
humber loop                      671
king and spadina                 669
spadina and king                 652
bathurst station                 643
queen and broadview              609
main station                     580
spadina station                  563
broadview and dundas             500
coxwell and gerrard              500
longbranch loop                  490
st clair west station            432
neville loop                     406
king and bathurst                403
bingham loop                     379
bathurst and king                376
broadview and gerrard            362
howard park and roncesvalles     307
gerrard and coxwell              300
bathurst and fleet               297
exhibition loop                  289
queen and spadina                277
queen and parliament             277
high park loop                   271
fleet loop                       256
king and church                  253
roncesvalles and howard park     252
gunns loop                       251
st clair station                 243
bathurst and st clair            241
missing                          236
king and dufferin                235
queen and church                 233
gerrard and broadview            232
dundas and broadview             230
king and parliament              230
queen and bathurst               230
st clair and bathurst            226
connaught and queen              222
spadina and queen                219
neville park loop                219
Name: Location, dtype: int64

In [305]:
# put intersection values into consistent order
print("Unique Location values:",df['Location'].nunique())
df['Location'] = df['Location'].apply(lambda x:order_location(x))
print("Location values post cleanup:",df['Location'].nunique())
df['Location'].value_counts().head(100)

Unique Location values: 11225
Location values post cleanup: 10407

roncesvalles yard               3233
queen and roncesvalles          2706
connaught and queen             2094
russell yard                    1651
broadview station               1336
broadview and queen             1326
king and spadina                1321
dundas west station             1129
leslie yard                      964
coxwell and gerrard              800
bathurst and king                779
broadview and dundas             730
cne loop                         710
humber loop                      671
bathurst station                 643
broadview and gerrard            594
main station                     580
spadina station                  563
howard park and roncesvalles     559
queen and spadina                496
longbranch loop                  490
bathurst and st clair            467
st clair west station            432
bathurst and fleet               416
bathurst and queen               410
neville loop                     406
bingham loop                     379
bathurst and dundas              373
parliament and queen             369
dufferin and king                328
                                ...
mccaul and queen                 150
bay and king                     150
bay and queen                    149
queen and university             143
lansdowne and st clair           143
jarvis and queen                 142
college and lansdowne            141
wilson yard                      141
bay and dundas                   140
leslie st and queen st e         138
dundas and howard park           133
parliament                       129
john and king                    129
king and yonge                   128
king and queen                   127
kingston rd and queen            126
scw station                      125
birchmount yard                  124
dundas and ossington             122
dundas and university            120
king and university              118
king and portland                117
queen and victoria               116
sunnyside loop                   114
kipling and lakeshore            114
jarvis and king                  114
kingston and queen               114
bathurst and st.clair            111
oakwood and st clair             108
dundas and mccaul                106
Name: Location, Length: 100, dtype: int64

In [306]:
df['Location'].value_counts().head(80)

roncesvalles yard                           3233
queen and roncesvalles                      2706
connaught and queen                         2094
russell yard                                1651
broadview station                           1336
broadview and queen                         1326
king and spadina                            1321
dundas west station                         1129
leslie yard                                  964
coxwell and gerrard                          800
bathurst and king                            779
broadview and dundas                         730
cne loop                                     710
humber loop                                  671
bathurst station                             643
broadview and gerrard                        594
main station                                 580
spadina station                              563
howard park and roncesvalles                 559
queen and spadina                            496
longbranch loop                              490
bathurst and st clair                        467
st clair west station                        432
bathurst and fleet                           416
bathurst and queen                           410
neville loop                                 406
bingham loop                                 379
bathurst and dundas                          373
parliament and queen                         369
dufferin and king                            328
                                            ...
dufferin and queen                           208
king and sumach                              205
king and shaw                                197
roncesvalles                                 186
queen and yonge                              185
dundas and lansdowne                         175
bay and college                              169
dws                                          167
dufferin loop                                166
dundas west station to broadview station     162
leslie and queen                             162
union station                                161
broadview and danforth                       159
dundas and yonge                             158
gerrard and parliament                       158
dundas and roncesvalles                      156
king and roncesvalles                        154
high park station                            154
queen and river                              153
carlaw and queen                             151
mccaul and queen                             150
bay and king                                 150
bay and queen                                149
queen and university                         143
lansdowne and st clair                       143
jarvis and queen                             142
college and lansdowne                        141
wilson yard                                  141
bay and dundas                               140
leslie st and queen st e                     138
Name: Location, Length: 80, dtype: int64

In [307]:
df.head()

,Day,Delay,Direction,Gap,Incident,Incident ID,Location,Min Delay,Min Gap,Report Date,Route,Time,Vehicle,Report Date Time
Report Date Time,,,,,,,,,,,,,,
2016-01-01 00:00:00,Friday,NaN,w,NaN,General Delay,NaN,dundas west stationt to broadview station,7.0,14.0,2016-01-01,505,00:00:00,4028,2016-01-01 00:00:00
2016-01-01 02:14:00,Friday,NaN,e,NaN,Mechanical,NaN,fleet st. and strachan,10.0,20.0,2016-01-01,511,02:14:00,4018,2016-01-01 02:14:00
2016-01-01 02:22:00,Friday,NaN,w,NaN,Mechanical,NaN,queen st. west and roncesvalles,9.0,18.0,2016-01-01,301,02:22:00,4201,2016-01-01 02:22:00
2016-01-01 03:28:00,Friday,NaN,e,NaN,Mechanical,NaN,lake shore blvd. and superior st.,20.0,40.0,2016-01-01,301,03:28:00,4251,2016-01-01 03:28:00
2016-01-01 14:28:00,Friday,NaN,e,NaN,Mechanical,NaN,roncesvalles to neville park,6.0,12.0,2016-01-01,501,14:28:00,4242,2016-01-01 14:28:00

# Remove bad rows

In [308]:
print("Location count post cleanup:",df['Location'].nunique())
print("Route count post cleanup:",df['Route'].nunique())
print("Direction count post cleanup:",df['Direction'].nunique())
print("Vehicle count post cleanup:",df['Vehicle'].nunique())
# print("Bad Location count":df[df.Vehicle == 'bad vehicle'].shape[0])
print("Bad route count:",df[df.Route == 'bad route'].shape[0])
print("Bad direction count:",df[df.Direction == 'bad direction'].shape[0])
print("Bad vehicle count:",df[df.Vehicle == 'bad vehicle'].shape[0])

Location count post cleanup: 10407
Route count post cleanup: 15
Direction count post cleanup: 6
Vehicle count post cleanup: 1017
Bad route count: 2418
Bad direction count: 360
Bad vehicle count: 12089

In [309]:
# remove rows with bad vehicle value
if remove_bad_values:
    df = df[df.Vehicle != 'bad vehicle']
    df = df[df.Direction != 'bad direction']
    df = df[df.Route != 'bad route']

In [310]:
df.shape

(58223, 14)

In [311]:
# pickle the cleansed dataframe
file_name = path + pickled_output_dataframe
df.to_pickle(file_name)

In [312]:
dfn = pd.read_pickle(file_name)
dfn.head()

,Day,Delay,Direction,Gap,Incident,Incident ID,Location,Min Delay,Min Gap,Report Date,Route,Time,Vehicle,Report Date Time
Report Date Time,,,,,,,,,,,,,,
2016-01-01 00:00:00,Friday,NaN,w,NaN,General Delay,NaN,dundas west stationt to broadview station,7.0,14.0,2016-01-01,505,00:00:00,4028,2016-01-01 00:00:00
2016-01-01 02:14:00,Friday,NaN,e,NaN,Mechanical,NaN,fleet st. and strachan,10.0,20.0,2016-01-01,511,02:14:00,4018,2016-01-01 02:14:00
2016-01-01 02:22:00,Friday,NaN,w,NaN,Mechanical,NaN,queen st. west and roncesvalles,9.0,18.0,2016-01-01,301,02:22:00,4201,2016-01-01 02:22:00
2016-01-01 03:28:00,Friday,NaN,e,NaN,Mechanical,NaN,lake shore blvd. and superior st.,20.0,40.0,2016-01-01,301,03:28:00,4251,2016-01-01 03:28:00
2016-01-01 14:28:00,Friday,NaN,e,NaN,Mechanical,NaN,roncesvalles to neville park,6.0,12.0,2016-01-01,501,14:28:00,4242,2016-01-01 14:28:00

# Visualize cleaned data

In [313]:
!pip install pixiedust

Requirement already satisfied: pixiedust in /opt/conda/envs/fastai/lib/python3.6/site-packages (1.1.15)
Requirement already satisfied: colour in /opt/conda/envs/fastai/lib/python3.6/site-packages (from pixiedust) (0.1.5)
Requirement already satisfied: geojson in /opt/conda/envs/fastai/lib/python3.6/site-packages (from pixiedust) (2.4.1)
Requirement already satisfied: markdown in /opt/conda/envs/fastai/lib/python3.6/site-packages (from pixiedust) (3.0.1)
Requirement already satisfied: lxml in /opt/conda/envs/fastai/lib/python3.6/site-packages (from pixiedust) (4.3.2)
Requirement already satisfied: mpld3 in /opt/conda/envs/fastai/lib/python3.6/site-packages (from pixiedust) (0.3)
Requirement already satisfied: requests in /opt/conda/envs/fastai/lib/python3.6/site-packages (from pixiedust) (2.21.0)
Requirement already satisfied: astunparse in /opt/conda/envs/fastai/lib/python3.6/site-packages (from pixiedust) (1.6.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/fastai/lib/python3.6/site-packages (from requests->pixiedust) (2018.11.29)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/fastai/lib/python3.6/site-packages (from requests->pixiedust) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/fastai/lib/python3.6/site-packages (from requests->pixiedust) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/fastai/lib/python3.6/site-packages (from requests->pixiedust) (1.24.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /opt/conda/envs/fastai/lib/python3.6/site-packages (from astunparse->pixiedust) (0.32.3)
Requirement already satisfied: six<2.0,>=1.6.1 in /opt/conda/envs/fastai/lib/python3.6/site-packages (from astunparse->pixiedust) (1.12.0)

In [314]:
import pixiedust

In [ ]:
display(df)